<div class="footer">
  <div class="container">
    <div class="footer-box">
      <div class="wrapper">

        <div class="info">
          <article class="info-article">Контактная информация</article>
          <div class="info-span-first">
            <div class="span-first-img"></div>
            <div>rntb@rntb.kz</div>
          </div>
          <div class="info-span-second">
            <div class="span-second-img"></div>
            <div>+7 727 378 41 95</div>
          </div>
          <div class="info-span-third">
            <div class="span-third-img"></div>
            <div>г. Алматы, ул.Муканова 223Б</div>
          </div>
        </div>
        <div class="wrapper-hr-90"></div>
        <div class="ssilki">
          <article class="link-article">Основные ссылки</article>

          <div class="link-span">
            <ul class="link-ul">
              <li class="link-li"><span class="elem-span">Главная</span></li>
              <li class="link-li"><span class="elem-span">О библиотеке</span></li>
              <ul class="link-context">
                <li class="link-li"><span class="elem-span">Информация</span></li>
              </ul>
              <li class="link-li"><span class="elem-span">Читателю</span></li>
              <ul class="link-context">
                <li class="link-li"><span class="elem-span">Инфа</span></li>
              </ul>
              <li class="link-li"><span class="elem-span">Ирбис</span></li>
              <ul class="link-context">
                <li class="link-li"><span class="elem-span">Информация</span></li>
                <li class="link-li"><span class="elem-span">Еще что то</span></li>
              </ul>
              <li class="link-li"><span class="elem-span">Филиалы</span></li>
              <ul class="link-context">
                <li class="link-li"><span class="elem-span">Алматы</span></li>
                <li class="link-li"><span class="elem-span">Астана</span></li>
              </ul>
              <li class="link-li"><span class="elem-span" routerLink="/contacts">Контакты</span></li>
            </ul>
          </div>
          <!--
          <div class="link-span">
                      <button class="article-first-img"></button>
                      <div>О библиотеке</div>
                    </div>
                    <div class="link-span">
                      <button class="article-first-img"></button>
                      <div>Читателю</div>
                    </div>
                    <div class="link-span">
                      <button class="article-first-img"></button>
                      <div>Ирбис</div>
                    </div>
                    <div class="link-span">
                      <button class="article-first-img"></button>
                      <div>Филиалы</div>
                    </div>
                    <div class="link-span">
                      <button class="article-first-img"></button>
                      <div>Контакты</div>
                    </div>
          -->

        </div>
        <div class="wrapper-hr-90"></div>
        <div class="rezhim">
          <div class="rezhim-left">
            <article class="mode">Режим работы</article>
            <div class="week">Понедельник
              Вторник
              Среда
              Четверг
              Пятница
            </div>

            <article class="weekends">Суббота Воскресенье</article>
          </div>
          <div class="rezhim-right">
            <div class="time">
              <div class="time-first-img"></div>
              <div>9:00-18:00</div>
            </div>
            <div class="weekend">
              <div class="weekend-first-img"></div>
              <div class="weekend-text">Выходной день</div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-end">
        <div class="footer-end-hr"></div>
        <div class="footer-end-text">© 2021. Республиканская научно-техническая библиотека</div>
      </div>
    </div>
  </div>
</div>



