<div class="footer">
  <div class="container">
    <div class="footer-box">
      <div class="wrapper">

        <div class="info">
          <div class="info-span-first">
            <div class="span-first-img"></div>
            <div class="info-text">{{mainContact?.email}}</div>
          </div>
          <div class="info-span-second">
            <div class="span-second-img"></div>
            <div class="info-text">{{mainContact?.phone}}</div>
          </div>
          <div class="info-span-third">
            <div class="span-third-img"></div>
            <div class="info-text">{{mainContact?.address}}</div>
          </div>
        </div>
        <div class="wrapper-hr-90"></div>
        <div class="links">
          <ul class="link-ul">
            <li class="link-li-first">
              <button class="link-li-button-open"><img src="/assets/images/Vector.svg" alt="Vector"></button>
              <a href="/" i18n="@@ButtonFooterMain">Главная</a>
            </li>
            <ng-template ngFor let-item [ngForOf]="listItemMenu">
              <li class="link-li">
                <button class="link-li-button-open" (click)="changeStatus(item)">
                  <img src="/assets/images/Vector.svg" alt="Vector"
                       [ngClass]="{}"></button>
                <a [routerLink]="['/sp', item?.pageId]" (click)="setScrollTop()">{{item.name}}</a>
                <ul class="link-li-content" *ngIf="item.isShow">
                  <ng-template ngFor let-iternalItem [ngForOf]="item.childrenItem">
                    <li class="li-content">
                      <a [routerLink]="['/sp', iternalItem?.pageId]" (click)="setScrollTop()">{{iternalItem.name}}</a>
                    </li>
                  </ng-template>
                </ul>
              </li>
            </ng-template>
          </ul>

        </div>
        <div class="wrapper-hr-90"></div>
        <div class="worktime">
          <div class="worktime-top">
            <div class="top-week" i18n="@@Weekdays">
              Понедельник
              Вторник
              Среда
              Четверг
              Пятница
            </div>
            <div class="top-time">
              <div class="worktime-img"></div>
              {{timeWork}}
            </div>
          </div>

          <div class="worktime-bottom">
            <div class="bottom-week" i18n="@@Weekends">
              Суббота
              Воскресенье
            </div>
            <div class="bottom-time" i18n="@@LabelDayOff">
              <div class="worktime-img"></div>
              Выходной день
            </div>
          </div>
        </div>

      </div>

      <div class="footer-end">
        <div class="footer-end-hr"></div>
        <div class="footer-end-text" i18n="@@Footer">© 2021. Республиканская научно-техническая библиотека</div>
      </div>
    </div>
  </div>
</div>



