<div class="footer">
  <div class="container">
    <div class="footer-box">
      <div class="wrapper">

        <div class="info">
          <div class="info-span-first">
            <div class="span-first-img"></div>
            <div class="info-text">rntb@rntb.kz</div>
          </div>
          <div class="info-span-second">
            <div class="span-second-img"></div>
            <div class="info-text">+7 727 378 41 95</div>
          </div>
          <div class="info-span-third">
            <div class="span-third-img"></div>
            <div class="info-text">г. Алматы, ул.Муканова 223Б</div>
          </div>
        </div>
        <div class="wrapper-hr-90"></div>
        <div class="links">
          <ul class="link-ul">
            <li class="link-li-first">Главная</li>
            <li class="link-li">О Библиотеке</li>
<!--            <ul class="link-li-content">-->
<!--              <li class="li-content">История РНТБ</li>-->
<!--              <li class="li-content">Контакты</li>-->
<!--              <li class="li-content">Научно-исследовательская деятельность</li>-->
<!--              <li class="li-content">Новости</li>-->
<!--              <li class="li-content">Сотрудничество</li>-->
<!--              <li class="li-content">Страница президента</li>-->
<!--              <li class="li-content">Кейс РНТБ</li>-->
<!--            </ul>-->
            <li class="link-li">Читателю</li>
            <li class="link-li">Ирбис</li>
            <li class="link-li">Филиалы</li>
            <li class="link-li">Контакты</li>
          </ul>

        </div>
<!--        <div class="ssilki">-->

<!--          <div class="link-span">-->
<!--            <ul class="link-ul">-->
<!--              <li class="link-li"><span class="elem-span">Главная</span></li>-->
<!--              <li class="link-li"><span class="elem-span">О библиотеке</span></li>-->
<!--              <ul class="link-context">-->
<!--                <li class="link-li"><span class="elem-span">Информация</span></li>-->
<!--              </ul>-->
<!--              <li class="link-li"><span class="elem-span">Читателю</span></li>-->
<!--              <ul class="link-context">-->
<!--                <li class="link-li"><span class="elem-span">Инфа</span></li>-->
<!--              </ul>-->
<!--              <li class="link-li"><span class="elem-span">Ирбис</span></li>-->
<!--              <ul class="link-context">-->
<!--                <li class="link-li"><span class="elem-span">Информация</span></li>-->
<!--                <li class="link-li"><span class="elem-span">Еще что то</span></li>-->
<!--              </ul>-->
<!--              <li class="link-li"><span class="elem-span">Филиалы</span></li>-->
<!--              <ul class="link-context">-->
<!--                <li class="link-li"><span class="elem-span">Алматы</span></li>-->
<!--                <li class="link-li"><span class="elem-span">Астана</span></li>-->
<!--              </ul>-->
<!--              <li class="link-li"><span class="elem-span" routerLink="/contacts">Контакты</span></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--          &lt;!&ndash;-->
<!--          <div class="link-span">-->
<!--                      <button class="article-first-img"></button>-->
<!--                      <div>О библиотеке</div>-->
<!--                    </div>-->
<!--                    <div class="link-span">-->
<!--                      <button class="article-first-img"></button>-->
<!--                      <div>Читателю</div>-->
<!--                    </div>-->
<!--                    <div class="link-span">-->
<!--                      <button class="article-first-img"></button>-->
<!--                      <div>Ирбис</div>-->
<!--                    </div>-->
<!--                    <div class="link-span">-->
<!--                      <button class="article-first-img"></button>-->
<!--                      <div>Филиалы</div>-->
<!--                    </div>-->
<!--                    <div class="link-span">-->
<!--                      <button class="article-first-img"></button>-->
<!--                      <div>Контакты</div>-->
<!--                    </div>-->
<!--          &ndash;&gt;-->

<!--        </div>-->
        <div class="wrapper-hr-90"></div>
        <div class="worktime">
          <div class="worktime-top">
            <div class="top-week">
              Понедельник
              Вторник
              Среда
              Четверг
              Пятница
            </div>
            <div class="top-time">
              <div class="worktime-img"></div>
              09:00-18:30
            </div>
          </div>

          <div class="worktime-bottom">
            <div class="bottom-week">
              Суббота
              Воскресенье
            </div>
            <div class="bottom-time">
              <div class="worktime-img"></div>
              Выходной день
            </div>
          </div>
        </div>

      </div>

      <div class="footer-end">
        <div class="footer-end-hr"></div>
        <div class="footer-end-text">© 2021. Республиканская научно-техническая библиотека</div>
      </div>
    </div>
  </div>
</div>



