<div class="contact">
  <div class="container">

    <div class="contact-title">
      <span class="contact-title-span">Контакты</span>
      <hr class="contact-title-hr-first">
      <hr class="contact-title-hr-second">
    </div>
    <div class="contact-map-box">
      <div class="contact-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.995163113485!2d76.91192371591033!3d43.25152317913716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3883694bbe3cbd31%3A0x41d06ef0c602f3c4!2z0YPQuy4g0JzRg9C60LDQvdC-0LLQsCAyMjPQsiwg0JDQu9C80LDRgtGLIDA1MDAwMA!5e0!3m2!1sru!2skz!4v1628583965969!5m2!1sru!2skz"
          width="1300" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="contact-box">
        <div class="contact-box-title">АДМИНИСТРАТИВНЫЙ БЛОК</div>
        <div class="contact-box-context">Республика Казахстан, 050026, г.Алматы, ул. С.Муканова, 223б e-mail:
          rntb@rntb.kz
        </div>
      </div>
    </div>

    <div class="table">
      <table class="contact-table">
        <tr class="tr-main">
          <th class="first-th">Должность</th>
          <th class="second-th">ФИО</th>
          <th class="third-th">Телефон</th>
        </tr>
      </table>
      <div class="strip">
        <div class="strip-svg"></div>
        <div class="strip-hr-svg"></div>
        <div class="strip-svg"></div>
      </div>
      <table class="contact-table">
        <tr class="tr-text">
          <th class="first-th">Президент</th>
          <th class="second-th">Урмурзина Кама Газизовна</th>
          <th class="third-th">378-41-95 <br>(приемная)</th>
        </tr>
        <tr class="tr-text">
          <th class="first-th">Вице-президент по библиотечной работе и инновациям </th>
          <th class="second-th">Соловьева Ирина Владимировна</th>
          <th class="third-th">378-36-68</th>
        </tr>
        <tr class="tr-text">
          <th class="first-th">Директор финансовой службы</th>
          <th class="second-th">Иманкулова Алия Уалихановна</th>
          <th class="third-th">378-41-91</th>
        </tr>
        <tr class="tr-text">
          <th class="first-th">Главный бухгалтер</th>
          <th class="second-th">—</th>
          <th class="third-th">378-41-91</th>
        </tr>
        <tr class="tr-text">
          <th class="first-th">Директор хозяйственной службы</th>
          <th class="second-th">—</th>
          <th class="third-th">378-41-90</th>
        </tr>
        <tr class="tr-text">
          <th class="first-th">Директор финансовой службы</th>
          <th class="second-th">Иманкулова Алия Уалихановна</th>
          <th class="third-th">378-41-91</th>
        </tr>
        <tr class="tr-text">
          <th class="first-th">Директор финансовой службы</th>
          <th class="second-th">Иманкулова Алия Уалихановна</th>
          <th class="third-th">378-41-91</th>
        </tr>
      </table>
      <hr class="hr-last-child">
    </div>

  </div>
</div>

