<div class="contact">
  <div class="container">
    <div class="contact-map-box">
      <div class="contact-map" *ngIf="branchContact">
        <iframe [src]="getMapSrc(branchContact.navigationMap)" *ngIf="branchContact.navigationMap"
                width="1084" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="contact-box">
        <div class="contact-box-title">{{branchContact?.nameContact}}</div>
        <div class="contact-box-context">{{branchContact?.address}}
          <div class="contact-box-e-mail">e-mail: {{branchContact?.email}}</div>
        </div>
      </div>
    </div>
    <ng-template [ngIf]="branchContact">
      <div class="table" *ngIf="branchContact.iternalContacts.length">
        <table class="contact-table">
          <tr class="tr-main">
            <th class="first-th" i18n="@@PositionLabel">Должность</th>
            <th class="second-th" i18n="@@FullNameLabel">ФИО</th>
            <th class="third-th" i18n="@@TelephoneLabel">Телефон</th>
          </tr>
        </table>
        <div class="strip">
          <div class="strip-svg"></div>
          <div class="strip-hr-svg"></div>
          <div class="strip-svg"></div>
        </div>
        <table class="contact-table">
          <tr class="tr-text" *ngFor="let iternalContact of branchContact?.iternalContacts">
            <td class="first-th">{{iternalContact.position}}</td>
            <td class="second-th">{{iternalContact.fio}}</td>
            <td class="third-th">{{iternalContact.phoneNumber}}</td>
          </tr>
        </table>
        <hr class="hr-last-child">
      </div>
    </ng-template>
  </div>
</div>

