<div class="contact">
  <div class="container">

    <div class="contact-title">
      <span class="contact-title-span">Контакты</span>
      <hr class="contact-title-hr-first">
      <hr class="contact-title-hr-second">
    </div>
    <div class="contact-map-box">
      <div class="contact-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.995163113485!2d76.91192371591033!3d43.25152317913716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3883694bbe3cbd31%3A0x41d06ef0c602f3c4!2z0YPQuy4g0JzRg9C60LDQvdC-0LLQsCAyMjPQsiwg0JDQu9C80LDRgtGLIDA1MDAwMA!5e0!3m2!1sru!2skz!4v1628583965969!5m2!1sru!2skz"
          width="1300" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="contact-box">
        <div class="contact-box-title">АДМИНИСТРАТИВНЫЙ БЛОК</div>
        <div class="contact-box-context">Республика Казахстан, 050026, г.Алматы, ул. С.Муканова, 223б e-mail:
          rntb@rntb.kz
        </div>
      </div>
    </div>
    <div class="contact-info">
      <div class="wrapper">

        <div class="info">
          <div class="info-article">Должность</div>
          <div class="info-span-first">Президент</div>
          <div class="info-span-second">Вице-президент по библиотечной работе и инновациям</div>
          <div class="info-span-third">Директор финансовой службы</div>
          <div class="info-span-four">Главный бухгалтер</div>
          <div class="info-span-five">Директор хозяйственной службы</div>
          <div class="info-span-six">Кадровая служба</div>
          <div class="info-span-seven">Служба анализа</div>
          <div class="info-span-eight">Отдел рекламы и связи с общественностью</div>
          <div class="info-span-nine">Отдел комплектования и научной обработки фонда</div>
        </div>
        <div class="names">
          <div class="names-article">ФИО</div>
          <div class="info-names-first">Урмурзина Кама Газизовна</div>
          <div class="info-names-second">Соловьева Ирина Владимировна</div>
          <div class="info-names-third">Иманкулова Алия Уалихановна</div>
          <hr class="contact-names-hr-first">
          <hr class="contact-names-hr-second">
        </div>

      </div>
    </div>
  </div>
</div>

