<div class="container">
  <div class="article">
    <ng-template [ngIf]="article?.codeType === 'News' || article?.codeType === 'FullSize'">
      <span class="article-span">{{article?.topic}}</span>
      <div class="article-div" *ngIf="article && article.idCoverArticle">
        <img [src]="previewCover(article.idCoverArticle)" alt="Обложка" class="article-img">
      </div>
<!--      <div class="article-p" *ngIf="article && article.title" [InsertHtml]="article.title"></div>-->
      <div class="ck-content" *ngIf="article && article.mainText" [InsertHtml]="article.mainText"></div>
    </ng-template>
    <ng-template [ngIf]="article?.codeType === 'Preview'">
      <span class="article-span">{{article?.topic}}</span>
      <div class="article-div" *ngIf="article && article.idCoverArticle">
        <img [src]="previewCover(article.idCoverArticle)" alt="Обложка" class="article-img">
      </div>
      <div class="article-p" *ngIf="article && article.title" [InsertHtml]="article.title"></div>
      <div class="article-close">
        <button class="article-button">Подробнее..</button>
        <hr class="article-hr">
      </div>
    </ng-template>
  </div>
</div>
