<div class="container">
  <div class="map-title">
    <span class="title-span">Филиалы</span>
    <hr class="title-bands-first">
    <hr class="title-bands-second">
  </div>

  <div class="map-img"></div>
  <div class="table">
    <table class="map-table">
      <tr class="tr-main">
        <th class="first-th">Название филиала</th>
        <th class="second-th">Город</th>
      </tr>
    </table>
    <div class="strip">
      <div class="strip-svg"></div>
    </div>
    <table class="map-table">
      <tr class="tr-text">
        <th class="first-th">Астанинский филиал</th>
        <th class="second-th">Нур-Султан</th>
      </tr>
      <tr class="tr-text">
        <th class="first-th">Актюбинский филиал</th>
        <th class="second-th">Актобе</th>
      </tr>
    </table>
  </div>

</div>

