<div class="container">
  <div class="title">
    <span class="title-span">Филиалы</span>
    <hr class="title-hr-first">
    <hr class="title-hr-second">
  </div>

  <div class="map-img"></div>
  <div class="table">
    <table class="map-table">
      <tr class="tr-main">
        <th class="first-th">Название филиала</th>
        <th class="second-th">Город</th>
      </tr>
    </table>
    <div class="strip">
      <div class="strip-svg"></div>
    </div>
    <table class="map-table">
      <tr class="tr-text">
        <th class="first-th"><a href="http://rntb.timir.kz">АО "РНТБ"</a></th>
        <th class="second-th">Алматы</th>
      </tr>
      <tr class="tr-text">
        <th class="first-th"><a href="http://ast.rntb.timir.kz">Астанинский филиал</a></th>
        <th class="second-th">Нур-Султан</th>
      </tr>
      <tr class="tr-text">
        <th class="first-th"><a href="http://kst.rntb.timir.kz">Восточно-Казахстанский филиал</a></th>
        <th class="second-th">Усть-Каменогорск</th>
      </tr>
      <tr class="tr-text">
        <th class="first-th">Жамбылский филиал</th>
        <th class="second-th">Тараз</th>
      </tr>
      <tr class="tr-text">
        <th class="first-th">Западно-Казахстанский филиал</th>
        <th class="second-th">Уральск</th>
      </tr>
      <tr class="tr-text">
        <th class="first-th">Павлодарский филиал</th>
        <th class="second-th">Павлодар</th>
      </tr>
      <tr class="tr-text">
        <th class="first-th">Туркестанский филиал</th>
        <th class="second-th">Шымкент</th>
      </tr>
    </table>
  </div>

</div>

