<div class="container">
  <div class="title">
    <span class="title-span">Филиалы</span>
    <hr class="title-hr-first">
    <hr class="title-hr-second">
  </div>

  <div class="map-img">
    <img src="assets/images/map.png">
  </div>
  <div class="table">
    <table class="map-table">
      <tr class="tr-main">
        <th class="first-th">Название филиала</th>
        <th class="second-th">Город</th>
      </tr>
    </table>
    <div class="strip">
      <div class="strip-svg"></div>
    </div>
    <table class="map-table">
      <tr *ngFor="let branch of listLibraryBranch; let i =index">
        <td class="first-th"><a [href]="getUrlFilial(branch.domen)" target="_blank">{{branch.name}}</a></td>
        <td class="second-th">{{branch.city}}</td>
      </tr>
    </table>
  </div>

</div>

