<div>
  <p><b>Редактирование меню</b></p>
</div>
<div>

  <div class="admin-edit-menu-tables">
    <div class="add-button">
      <button (click)="createItemMenu()">Добавить пункт меню</button>
      <button (click)="log()">Доasfasfasfю</button>
    </div>
    <ul *ngFor="let itemMenu of listMainItemMenu; let i = index">
      <li>
        <table class="file-table">
          <thead *ngIf="i === 0">
          <tr>
            <td>
              <div class="admin-edit-menu-language">
                <label>
                  <input type="radio" [(ngModel)]="lang" value="ru">
                  RU
                </label>
                <label>
                  <input type="radio" [(ngModel)]="lang" value="eng">
                  ENG
                </label>
                <label>
                  <input type="radio" [(ngModel)]="lang" value="kz">
                  KZ
                </label>
              </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <div class="td-right">
              </div>
            </td>
          </tr>
          </thead>
          <thead *ngIf="i === 0">
          <tr>
            <th>Вложения</th>
            <th>Последнее изменение</th>
            <th>Страница</th>
            <th>Тип пункта</th>
            <th>Отображать</th>
            <th>
              <div class="info">
                <img src="assets/icons/info.svg">
                <span class="info-dropdown">
                  <ul>
                    <li>Информация</li>
                    <li><img src="assets/icons/arrow-up.svg">Переместить вверх</li>
                    <li><img src="assets/icons/arrow-down.svg">Переместить вниз</li>
                    <li><img src="assets/icons/trash-2.svg">Удалить пункт меню</li>
                    <li><img src="assets/icons/plus.svg"> Добавить новый подпункт меню</li>
                  </ul>
                </span>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="edit-input2">
            <td *ngIf="lang === 'ru' && itemMenu.isEdit === false">{{itemMenu.nameRu}}</td>
            <td *ngIf="lang === 'ru' && itemMenu.isEdit === true"><input type="text" [(ngModel)]="itemMenu.nameRu">
            </td>
            <td *ngIf="lang === 'eng' && itemMenu.isEdit === false">{{itemMenu.nameEn}}</td>
            <td *ngIf="lang === 'eng' && itemMenu.isEdit === true"><input type="text" [(ngModel)]="itemMenu.nameEn">
            </td>
            <td *ngIf="lang === 'kz' && itemMenu.isEdit === false">{{itemMenu.nameKz}}</td>
            <td *ngIf="lang === 'kz' && itemMenu.isEdit === true"><input type="text" [(ngModel)]="itemMenu.nameKz">
            </td>
            <td>{{itemMenu.lastModifiedDate}}</td>
            <td *ngIf="itemMenu.isEdit === true">
              <select *ngIf="itemMenu.typeItemMenu.codeType == 'page'" [ngModel]="itemMenu?.page?.id"
                      (ngModelChange)="setPage($event, i)">
                <option [value]="null">Пусто</option>
                <option [value]="page.id" *ngFor="let page of listViewPages; let i = index">{{page.name}}</option>
              </select>
            </td>
            <td *ngIf="itemMenu.isEdit === false">
              {{[itemMenu?.page ? itemMenu?.page?.name : 'Пусто']}}
            </td>
            <td *ngIf="itemMenu.isEdit === true">
              <select [ngModel]="itemMenu.typeItemMenu.id" (ngModelChange)="setTypeItemMenu($event, i)">
                <option [ngValue]="typeItem.id"
                        *ngFor="let typeItem of listTypeItemMenu; let iType = index">{{typeItem.nameType}}</option>
              </select>
            </td>
            <td
              *ngIf="itemMenu.isEdit === false">{{[itemMenu.typeItemMenu === null ? 'Не выбран' : itemMenu.typeItemMenu.nameType]}}</td>
            <td *ngIf="itemMenu.isEdit === true">
              <div class="edit-button">
                <input [(ngModel)]="itemMenu.showItem" type="checkbox">
              </div>
            </td>
            <td *ngIf="itemMenu.isEdit === false">{{[itemMenu.showItem === true ? 'Показывать' : 'Скрыть']}}</td>
            <td>
              <div class="td-right">
                <div class="edit-button">
                  <button (click)="updateItemMenu(itemMenu)" *ngIf="itemMenu.isEdit"><img alt=""
                                                                                          src="assets/icons/save.svg">
                  </button>
                  <button (click)="changeEditStatus(itemMenu)" *ngIf="!itemMenu.isEdit"><img alt=""
                                                                                             src="assets/icons/edit-2.svg">
                  </button>
                  <button (click)="createItemMenu(itemMenu.id, i)"><img alt="Создать" src="assets/icons/plus.svg">
                  </button>
                  <button *ngIf="i !== 0" (click)="changePositionUp(i)">
                    <img alt="Вверх" src="assets/icons/arrow-up.svg">
                  </button>
                  <button *ngIf="i !== (listMainItemMenu.length - 1)" (click)="changePositionDown(i)">
                    <img alt="Вниз" src="assets/icons/arrow-down.svg">
                  </button>
                  <button (click)="deleteItemMenu(itemMenu.id, i)"><img alt="Удалить" src="assets/icons/trash-2.svg">
                  </button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </li>
      <li *ngIf="itemMenu.childerItemMenu.length !== 0">
        <table class="inherit-table">
          <thead>
          <tr>
            <th>Вложения2</th>
            <th>Последнее изменение</th>
            <th>Страница</th>
            <th>Тип пункта</th>
            <th>Отображать</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let childerItem of itemMenu.childerItemMenu; let iChildren = index">
            <td *ngIf="lang === 'ru' && childerItem.isEdit === false">{{childerItem.nameRu}}</td>
            <td *ngIf="lang === 'ru' && childerItem.isEdit === true"><input type="text"
                                                                            [(ngModel)]="childerItem.nameRu">
            </td>
            <td *ngIf="lang === 'eng' && childerItem.isEdit === false">{{childerItem.nameEn}}</td>
            <td *ngIf="lang === 'eng' && childerItem.isEdit === true"><input type="text"
                                                                             [(ngModel)]="childerItem.nameEn">
            </td>
            <td *ngIf="lang === 'kz' && childerItem.isEdit === false">{{childerItem.nameKz}}</td>
            <td *ngIf="lang === 'kz' && childerItem.isEdit === true"><input type="text"
                                                                            [(ngModel)]="childerItem.nameKz">
            <td>{{childerItem.lastModifiedDate}}</td>
            <td *ngIf="childerItem.isEdit === true">
              <select *ngIf="childerItem.typeItemMenu.codeType == 'page'" [ngModel]="childerItem?.page?.id"
                      (ngModelChange)="setPage($event, i, iChildren)">
                <option [value]="null">Пусто</option>
                <option [value]="page.id" *ngFor="let page of listViewPages; let i = index">{{page.name}}</option>
              </select>
            </td>
            <td *ngIf="childerItem.isEdit === false">
              {{[childerItem?.page ? childerItem?.page?.name : 'Пусто']}}
            </td>
            <td *ngIf="childerItem.isEdit === true">
              <select [ngModel]="childerItem.typeItemMenu.id" (ngModelChange)="setTypeItemMenu($event, i, iChildren)">
                <option [ngValue]="typeItem.id"
                        *ngFor="let typeItem of listTypeItemMenu; let iType = index">{{typeItem.nameType}}</option>
              </select>
            </td>
            <td
              *ngIf="childerItem.isEdit === false">{{[childerItem.typeItemMenu === null ? 'Не выбран' : childerItem.typeItemMenu.nameType]}}</td>
            <td *ngIf="childerItem.isEdit === true">
              <div class="edit-button">
                <input [(ngModel)]="childerItem.showItem" type="checkbox">
              </div>
            </td>
            <td *ngIf="childerItem.isEdit === false">{{[childerItem.showItem === true ? 'Показывать' : 'Скрыть']}}</td>
            <td>
              <div class="td-right">
                <div class="edit-button">
                  <button (click)="updateItemMenu(childerItem)" *ngIf="childerItem.isEdit"><img alt=""
                                                                                                src="assets/icons/save.svg">
                  </button>
                  <button (click)="changeEditStatus(childerItem)" *ngIf="!childerItem.isEdit"><img alt=""
                                                                                                   src="assets/icons/edit-2.svg">
                  </button>
                  <button *ngIf="iChildren !== 0" (click)="changePositionUp(i, iChildren)"><img alt="Вверх"
                                                                                                src="assets/icons/arrow-up.svg">
                  </button>
                  <button *ngIf="iChildren !== (itemMenu.childerItemMenu.length - 1)"
                          (click)="changePositionDown(i, iChildren)"><img alt="Вниз" src="assets/icons/arrow-down.svg">
                  </button>
                  <button (click)="deleteItemMenu(childerItem.id, i, iChildren)">
                    <img alt="Удалить" src="assets/icons/trash-2.svg">
                  </button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </li>
      <hr>
    </ul>

  </div>
</div>
