<div class="login">
  <div class="login-popup">
    <div class="login-header">
      <h1>РНТБ</h1>
    </div>
    <div class="login-form">
      <form class="edit-input">
        <label><strong>Логин:</strong></label>
        <input type="text" [(ngModel)]="login" [ngModelOptions]="{standalone: true}" placeholder="Введите логин">
        <label><strong>Пароль:</strong></label>
        <input type="text" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Введите пароль">
      </form>
    </div>
    <div class="edit-button">
      <button (click)="fake()">Войти</button>
      <button (click)="test()">test</button>
<!--      <button (click)="logout()">Выход</button>-->
<!--      <button (click)="test()">Выsdfsdfsdfsdход</button>-->
    </div>
  </div>
</div>
