<div class="container">
  <div class="gallery">

    <div class="gallery-title">
      <div class="big-title">
        <hr class="title-hr">
        <span class="title">Виртуальная Выставка</span>
        <hr class="title-hr">
      </div>
      <span class="small-title">Новое Поступление</span>
    </div>

    <div class="gallery-carousel">
      <div class="carousel-block-first"></div>
      <div class="carousel-block"></div>
      <div class="carousel-block"></div>
      <div class="carousel-block"></div>
      <div class="carousel-block"></div>

      <div class="carousel-block"></div>
      <div class="carousel-block"></div>
      <div class="carousel-block"></div>
      <div class="carousel-block"></div>
      <div class="carousel-block"></div>

      <div class="carousel-block"></div>
      <div class="carousel-block"></div>
      <div class="carousel-block"></div>
      <div class="carousel-block"></div>
      <div class="carousel-block"></div>

    </div>

    <div class="carousel-circle">
      <button class="carousel-button"></button>
      <button class="carousel-button"></button>
      <button class="carousel-button"></button>
    </div>
    <hr class="carousel-hr">
  </div>
</div>
