<div class="container">
  <div class="gallery">

    <div class="gallery-title">
      <div class="big-title">
        <hr class="title-hr">
        <span class="b-title">Виртуальная Выставка</span>
        <hr class="title-hr">
      </div>
      <span class="small-title">{{categoryVirtualExhibition?.name}}</span>
    </div>

    <div class="gallery-carousel">
      <ng-template ngFor let-book [ngForOf]="categoryVirtualExhibition?.books" let-iBook="index">
        <div [class]="[iBook === 0 ? 'carousel-block-first' : 'carousel-block']">
          <img class="img-carousel" *ngIf="book.idCoverImage" [src]="previewCover(book.idCoverImage)" alt="Обложка">
        </div>
      </ng-template>
    </div>

    <div class="carousel-circle">
      <button class="carousel-button-left"></button>
      <button class="carousel-button-right"></button>
    </div>
    <hr class="carousel-hr">
  </div>
</div>
