<div>
  <p><b>Параметры</b></p>
</div>
<div>
  <table class="file-table">
    <thead>
    <tr>
      <th>Название</th>
      <th>Значение</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let parameter of listParameter; let i=index">
      <td>{{parameter.name}}</td>
      <td>
        <div class="edit-input2">
          <input placeholder="Значение или ссылка" type="text" [(ngModel)]="parameter.value">
        </div>
      </td>
      <td>
        <div class="edit-button">
          <button (click)="updateParameter(i)">
            <img src="assets/icons/save.svg" alt="save">
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
