<div>
  <p><b>Параметры</b></p>
</div>
<div>
  <table class="file-table">
    <thead>
    <tr>
      <th>Название</th>
      <th>Значение</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>
        <div class="edit-input2">
          <input placeholder="123" type="text">
        </div>
      </td>
      <td>
        <div class="edit-button">
          <button>
            <img src="assets/icons/save.svg">
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
