<div class="edit-article">
  <div class="edit-article-head">
    <ul>
      <li>Статьи</li>
      <li>Страница Президента</li>
      <li>Новостные блоки</li>
    </ul>
  </div>

  <div class="edit-article-space">
    <div class="edit-article-image">
      <div></div>
      <a>Загрузить изображение</a>
      <!--350x250-->
      <p><input type="file" name="photo" multiple accept="image/*,image/jpeg">
        <input type="submit" value="Отправить"></p>
    </div>
    <div class="edit-article-content">
      <ul>
        <li>Заголовок</li>
        <li>Описание</li>
        <li>Содержание</li>
        <li>PDF</li>
      </ul>
    </div>
    <div class="article-table">
      <table>
        <thead>
        <tr>
          <th>Заголовок</th>
          <th>Описание</th>
          <th>Содержание</th>
          <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
          <td>19.08.2021</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


