<div class="app-menu">
  <div class="container-menu">
    <div class="logo-navbar">
      <!-- Лого -->
      <a class="logo" [href]="navigateHome()"></a>
      <div class="navbar-media">
        <div class="navbar-filial">
          <div class="navbar">
            <ul class="navbar-ul">
              <ng-template ngFor let-item [ngForOf]="listSiteItemMenu">
                <li class="navbar-li">
                  <a class="li-a" [routerLink]="['sp', item?.pageId]" (click)="setScrollTop()">{{item.name}}
                    <div class="li-svg" *ngIf="item.childrenItem.length"></div>
                  </a>
                  <div class="navbar-li-dropdown" *ngIf="item.childrenItem.length">
                    <ng-template ngFor let-iternalItem [ngForOf]="item.childrenItem">
                      <a class="dropdown-a" [routerLink]="['sp', iternalItem?.pageId]"
                         (click)="setScrollTop()">{{iternalItem.name}}</a>
                    </ng-template>
                  </div>
                </li>
              </ng-template>
            </ul>
            <div class="search">
              <div class="search-svg">
                <div class="edit-button">
                  <button><img src="assets/icons/search.svg"></button>
                </div>
              </div>
              <div class="search-input">
                <input type="text" placeholder="Поиск.." class="search-input">
              </div>
            </div>
            <div class="languages">
              <a *ngFor="let lang of listLanguage; let i =index" class="ru"
                 [href]="changeLanguage(lang.code)">{{lang.name}}</a>
            </div>
          </div>
          <span class="filial-name">{{branchName}}</span> <!-- Название филиала -->
        </div>
        <div class="media">
          <a [href]="urlInstagram" target="_blank" class="instagram"></a>
          <a [href]="urlFacebook" target="_blank" class="facebook"></a>
          <a [href]="urlTelegram" target="_blank" class="telegram"></a>
        </div>
      </div>
    </div>
    <div class="title-menu">
      <div class="title-first" i18n="@@WelcomeLineOne">Всегда только самая</div>
      <div class="title-second" i18n="@@WelcomeLineTwo">актуальная и достоверная информация</div>
      <div class="title-third" i18n="@@WelcomeLineThree">для науки, Образования, Производства</div>
    </div>
  </div>
</div>
<!-- Ирибис -->
<div class="irbis">
  <div class="container">
    <div class="irbis-sections">
      <ng-template ngFor let-staticItem [ngForOf]="listSiteStaticItemMenu" let-i="index">
        <div class="irbis-sections-hr" *ngIf="i!==0"></div> <!--      //полоска под 90-->
        <a class="sections" target="_blank"
           href="http://89.218.44.250/CGI/irbis64r_14/cgiirbis_64.exe?LNG=&C21COM=F&I21DBN=RNTB&P21DBN=RNTB">
          <img [src]="getIconStaticItem(staticItem.id)" alt="1">
          <div class="text">{{staticItem.name}}</div>
        </a>
      </ng-template>
    </div>
  </div>
</div>
