<div class="app-menu">
  <div class="container">
    <div class="navbar">


      <div class="search">
        <div class="search-img"></div>
        <input type="Поиск" placeholder="Поиск.." class="search-input">
      </div>
      <div class="languages">
        <div class="ru">РУС</div>
        <div class="eng">ENG</div>
        <div class="kz">ҚАЗ</div>
      </div>
    </div>
    <!-- Лого + надпись -->
    <div class="logo-title">
      <div class="logo"></div>
      <span class="title">Республиканская Научно-Техническая Библиотека</span>
    </div>
  </div>
</div>
<!-- Ирибис -->
<div class="irbis">
  <div class="container">
    <div class="irbis-title">
      <span class="irbis-title-span">Ирбис</span>
      <hr class="irbis-title-bands-first">
      <hr class="irbis-title-bands-second">
    </div>
    <div class="irbis-sections">
      <div class="irbis-sections-one">
        <div class="img"></div>
        <div class="text">Электронный каталог</div>
      </div>
      <div class="irbis-sections-hr"></div> <!--      //полоска под 90-->
      <div class="irbis-sections-two">
        <div class="img"></div>
        <div class="text">Электронная библиотека РНТБ</div>
      </div>
      <div class="irbis-sections-hr"></div> <!--      //полоска под 90-->
      <div class="irbis-sections-three">
        <div class="img"></div>
        <div class="text">Система автоматизации библиотек "ИРБИС"</div>
      </div>
      <div class="irbis-sections-hr"></div> <!--      //полоска под 90-->
      <div class="irbis-sections-four">
        <div class="img"></div>
        <div class="text">Школа профессионального развития</div>
      </div>
    </div>
  </div>
</div>

