<div class="app-menu">
  <div class="container">
    <div class="navbar">
      <ul class="navbar-ul">
        <li class="navbar-li">О библиотеке
          <div class="navbar-li-dropdown">
            <a class="dropdown-a">История РНТБ</a>
            <a class="dropdown-a">Научно-исследовательская деятельность</a>
            <a class="dropdown-a">Новости</a>
            <a class="dropdown-a">Сотрудничество</a>
            <a class="dropdown-a">Страница Президента</a>
            <a class="dropdown-a">Структура Библиотеки</a>
            <a class="dropdown-a">Кейс РНТБ</a>
          </div>
        </li>

        <li class="navbar-li">Читателю</li>
        <li class="navbar-li">Ирбис</li>
        <li class="navbar-li">Филиалы</li>
        <li class="navbar-li">Контакты</li>
      </ul>

      <div class="search">
        <input type="text" placeholder="Поиск.." class="search-input">
      </div>
      <div class="languages">
        <div class="ru">РУС</div>
        <div class="eng">ENG</div>
        <div class="kz">ҚАЗ</div>
      </div>
    </div>
    <!-- Лого + надпись -->
    <div class="logo-title">
      <div class="logo"></div>
      <span class="title">Республиканская Научно-Техническая Библиотека</span>
    </div>
  </div>
</div>
<!-- Ирибис -->
<div class="irbis">
  <div class="container">
    <div class="irbis-title">
      <span class="irbis-title-span">Ирбис</span>
      <hr class="irbis-title-bands-first">
      <hr class="irbis-title-bands-second">
    </div>
    <div class="irbis-sections">
      <a class="irbis-sections-one"
         href="http://89.218.44.250/CGI/irbis64r_14/cgiirbis_64.exe?LNG=&C21COM=F&I21DBN=RNTB&P21DBN=RNTB">
        <div class="img"></div>
        <div class="text">Электронный каталог</div>
      </a>
      <div class="irbis-sections-hr"></div> <!--      //полоска под 90-->
      <a class="irbis-sections-two"
         href="http://89.218.44.250/CGI/irbis64r_14/cgiirbis_64.exe?LNG=&C21COM=F&I21DBN=RNTB&P21DBN=RNTB">
        <div class="img"></div>
        <div class="text">Электронная библиотека РНТБ</div>
      </a>
      <div class="irbis-sections-hr"></div> <!--      //полоска под 90-->
      <div class="irbis-sections-three">
        <div class="img"></div>
        <div class="text">Система автоматизации библиотек "ИРБИС"</div>
      </div>
      <div class="irbis-sections-hr"></div> <!--      //полоска под 90-->
      <div class="irbis-sections-four">
        <div class="img"></div>
        <div class="text">Школа профессионального развития</div>
      </div>
    </div>
  </div>
</div>

