<div class="admin-gallery">
  <div>
    <p><b>Редактирование галлереи</b></p>
  </div>
  <div>
    <form class="edit-input">
      <p>
        <select name="select" size="1">
          <option disabled>Выбрать категорию</option>
          <option selected value="none">Административный корпус</option>
          <option value="none">Центр библиотечно-информационого обслуживани</option>
          <option value="none">Центр Патентно-Информационной работы</option>
          <option value="none">Центр по работе со специальными видами технической литературы и документаций</option>
        </select>
      </p>
    </form>
  </div>

  <div class="gallery-carousel">
    <div class="carousel-block"></div>
    <div class="carousel-block"></div>
    <div class="carousel-block"></div>
    <div class="carousel-block"></div>
    <div class="carousel-block"></div>
  </div>

  <div class="carousel-circle">
    <button class="carousel-button"></button>
    <button class="carousel-button"></button>
    <button class="carousel-button"></button>
  </div>
  <hr class="carousel-hr">
</div>
