<div>
  <p><b>Редактирование галлереи</b></p>
</div>
<div class="admin-gallery">
  <div>
    <div>
      <label>
        <input type="radio" [(ngModel)]="lang" value="ru">
        RU
      </label>
      <label>
        <input type="radio" [(ngModel)]="lang" value="eng">
        ENG
      </label>
      <label>
        <input type="radio" [(ngModel)]="lang" value="kz">
        KZ
      </label>
    </div>
    <table class="file-table">
      <thead>
      <tr>
        <th>Название</th>
        <th>Дата изменения</th>
        <th>Отображать</th>
        <th colspan="3">
          <button (click)="createCategory()">Добавить</button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of listCategoryVirtualExhibition; let i = index">
        <td *ngIf="lang === 'ru' && !category.isEdit">{{category.nameRu}}</td>
        <td *ngIf="lang === 'ru' && category.isEdit"><input type="text" [(ngModel)]="category.nameRu"
                                                            placeholder="nameRu"></td>
        <td *ngIf="lang === 'eng' && !category.isEdit">{{category.nameEn}}</td>
        <td *ngIf="lang === 'eng' && category.isEdit"><input type="text" [(ngModel)]="category.nameEn"
                                                             placeholder="nameEn"></td>
        <td *ngIf="lang === 'kz' && !category.isEdit">{{category.nameKz}}</td>
        <td *ngIf="lang === 'kz' && category.isEdit"><input type="text" [(ngModel)]="category.nameKz"
                                                            placeholder="nameKz"></td>
        <td>{{category.lastModifiedDate}}</td>
        <td *ngIf="!category.isEdit">{{[category.showOnPage ? 'Да' : 'Нет']}}</td>
        <td *ngIf="category.isEdit"><input type="checkbox" [(ngModel)]="category.showOnPage"></td>
        <td *ngIf="!category.isEdit">
          <button (click)="changeEditStatus(i)">Редактировать</button>
        </td>
        <td *ngIf="category.isEdit">
          <button (click)="updateCategory(i)">Сохранить</button>
        </td>
        <td>
          <button (click)="getBooksByCategory(category.id)">Книги</button>
        </td>
        <td>
          <button (click)="deleteCategory(category.id, i)">Удалить</button>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="file-table">
      <thead>
      <tr>
        <th>Название</th>
        <th>Дата последних изменений</th>
        <th>Выбрать</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let viewBook of listViewBook; let i = index">
        <td>{{viewBook.name}}</td>
        <td>{{viewBook.lastModifiedDate}}</td>
        <td>
          <div class="edit-button">
            <button (click)="addBookInCategory(viewBook.id)" [disabled]="blockButtonAddBook(viewBook.id)">
              <img alt="Редактирование"
                   [src]="[blockButtonAddBook(viewBook.id)? 'assets/icons/alert-circle.svg' : 'assets/icons/edit-2.svg']">
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button>добавить сет</button>
    <button (click)="log()">log</button>
  </div>
  <div class="gallery-carousel" *ngIf="virtualExhibition && virtualExhibition.books.length !== 0" id="asdsdas">
    <ng-template ngFor let-book [ngForOf]="virtualExhibition.books" let-iBook="index">
      <!--    <div class="carousel-block" *ngFor="let book of virtualExhibition.books; let iBook = index">-->
      <div [class]="iBook === 0 ? 'carousel-block-first' : 'carousel-block'">
        <div (click)="getSelectedBook(book.id)">
          <img alt="Обложка" class="img-carousel" [src]="previewCover(book.file!.id!)">
        </div>
        <button (click)="moveBookLeft(iBook)" *ngIf="iBook !==0">Лево</button>
        <button (click)="unhookBook(book.id, iBook)">Удалить</button>
        <button (click)="moveBookRight(iBook)" *ngIf="iBook !== (virtualExhibition.books.length - 1)">Право</button>
      </div>
    </ng-template>
  </div>

  <div class="carousel-circle">
    <button class="carousel-button"></button>
    <button class="carousel-button"></button>
  </div>
  <hr class="carousel-hr">
</div>

<button (click)="close=true" class="proverkaa">Проверка попап</button>

<div class="gallery-popup" *ngIf="close">
  <div class="popup-close-button">
    <div class="edit-button">
      <button (click)="close=false"><img alt="Круг стрелка" src="assets/icons/x-circle.svg"></button>
    </div>
  </div>
  <div class="popup-content" *ngIf="selectedBook">
    <div class="popup-img" *ngIf="selectedBook.file">
      <img [src]="previewCover(selectedBook.file.id)">
    </div>
    <div class="popup-text">
      <p>
        <strong>
          {{selectedBook.authorRu}}
        </strong>
        <br>
        <strong>{{selectedBook.nameBookRu}}</strong>
        <strong>{{selectedBook.isbn}}</strong>
      </p>
      <p>
        {{selectedBook.descriptionRu}}
      </p>
    </div>
  </div>
  <div class="popup-bottom">
    <td>
      <div class="edit-button">
        <button><img src="assets/icons/arrow-left.svg"></button>
        <button><img src="assets/icons/arrow-right.svg"></button>
      </div>
    </td>
    <td>
        <span>
          {{selectedBook?.nameBookRu}}
        </span>
    </td>
  </div>
</div>
