<!--<app-menu></app-menu>-->
<div class="container">
  <div class="title">
    <span class="title-span">{{page?.name}}</span>
    <hr class="title-hr-first">
    <hr class="title-hr-second">
  </div>
</div>
<ng-template ngFor let-component [ngForOf]="page?.components" let-i="index">
  <app-contacts *ngIf="component.codeType === 'Contact'" [id]="component.idComponent"></app-contacts>
  <app-article *ngIf="component.codeType === 'Article'" [id]="component.idComponent"></app-article>
  <!--<app-map></app-map>-->
  <app-gallery *ngIf="component.codeType === 'VirExhibition'" [id]="component.idComponent"></app-gallery>
</ng-template>
<!--<app-footer></app-footer>-->
