<div class="user-panel">
  <table class="table-user">
    <thead>
    <tr>
      <th>ФИО</th>
      <th>Логин</th>
      <th>Пароль</th>
      <th>Доступ</th>
      <th><div class="edit"></div></th>
      <th><div class="trash"></div></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        Иван Иванов
      </td>
      <td>
        IvanIvanov
      </td>
      <td>
        123456789
      </td>
      <td>
        Открыт
      </td>
      <td>
        +
      </td>
      <td>
        +
      </td>
    </tr>
    </tbody>
  </table>
  <table></table>
  <hr>
  <div class="password">
    <label>Сменить пароль</label>
    <input type="text" id="title" placeholder="Ведите пароль">
    <button>Сохранить</button>
  </div>
</div>
