<div>
  <p><b>Загрузка файлов</b></p>
</div>
<div class="file-edit">
  <div>
    <div>
      <label>
        <input type="file" multiple (change)="selectFiles($event)"/>
      </label>
    </div>
    <div>
      <button [disabled]="!selectedFiles" (click)="uploadFiles()">Загрузить</button>
    </div>
  </div>

  <div *ngFor="let progressInfo of progressInfos">
    <span>{{ progressInfo.fileName }}</span>
    <div>
      <div
        role="progressbar"
        attr.aria-valuenow="{{ progressInfo.value }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: progressInfo.value + '%' }">
        {{ progressInfo.value }}%
      </div>
    </div>
  </div>

  <div *ngIf="message.length" role="alert">
    <ul *ngFor="let msg of message; let i = index">
      <li>{{ msg }}</li>
    </ul>
  </div>

  <div class="file-edit-space">

    <div class="file-table">
      <table>
        <thead>
        <tr>
          <th>Имя</th>
          <th>Дата</th>
          <th>Удалить</th>
          <th>Предпросмотр</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let file of listFiles; let i = index">
          <td>{{file.nameFile}}</td>
          <td>{{file.createdDate }}</td>
          <td>
            <div class="edit-button">
              <button (click)="deleteFile(file.id, i)" [disabled]="edit"><img
                [src]=" edit===false? 'assets/trash.svg': null "></button>
            </div>
          </td>
          <td>
            <div class="edit-button">
              <button (click)="setIdAndTypeFile(file.id, file.typeFile)"><img src="assets/new-window.svg"></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="file-edit-preview" *ngIf="idFile !== null">
      <img [src]="previewImage()">
    </div>
  </div>

</div>

<button (click)="close=true">Файлы</button>
<div class="file-popup" *ngIf="close">
  <div class="file-popup-content">
    <div class="file-popup-header">
      <div>
        <p><strong>Загрузите файл</strong></p>
      </div>
      <div class="edit-button">
        <button (click)="close=false"><img src="assets/icons/x.svg"></button>
      </div>
    </div>

    <div class="file-popup-content-area">
      <div>
        <input type="file">
      </div>
      <div>
        <p>Выберите категорию файла</p>
        <form class="edit-input">
          <select name="select" size="1">
            <option>ыполлд</option>
            <option>ыполлд</option>
            <option>ыполлд</option>
          </select>
        </form>
      </div>
    </div>
    <div class="file-popup-save">
      <button>Сохранить</button>
    </div>
  </div>
</div>
