<div>
  <p><b>Загрузка файлов</b></p>
</div>
<div *ngFor="let folder of listViewDestination; let i=index">
  <div class="add-button">
    <input type="file" accept="image/*" multiple (change)=" selectFiles($event, folder)"/>
  </div>
  <button (click)="changeStatusFolder(folder, i)">Раскрыть</button>
  <ul>{{folder.nameDestination}}
    <ng-container *ngIf="folder.isOpen">
      <ng-template ngFor let-file [ngForOf]="folder.files" let-iFile="index">
        <li>{{file.nameFile}}</li>
        <button (click)="setIdAndTypeFile(file.id, file.typeFile)"><img alt="Предпросмотр"
                                                                        [src]="idFile!==file.id? previewImg1:previewImg2"
                                                                        title="Предпросмотр">
        </button>
        <button (click)="deleteFile(file.id, i, iFile)" [disabled]="edit"><img alt="Удалить"
                                                                               [src]=" edit===false? 'assets/icons/trash-2.svg': 'assets/icons/loader.svg' ">
        </button>
      </ng-template>
    </ng-container>
  </ul>
</div>
<div class="file-edit">
  <div class="file-edit-space">
    <div class="item1">
      <table class="file-table">
        <thead>
        <tr>
          <th>Имя</th>
          <th>Дата</th>
          <th>Расширение имени файла</th>
          <th>Тип использования</th>
          <th>Предпросмотр</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let file of listFiles; let i = index">
          <td>{{file.nameFile}}</td>
          <td>{{file.createdDate }}</td>
          <td>{{file.typeFile.split('/')[1] }}</td>
          <td>{{file.destination.nameDestination}}</td>
          <td>
            <div class="edit-button">
              <button (click)="setIdAndTypeFile(file.id, file.typeFile)"><img alt="Предпросмотр"
                                                                              [src]="idFile!==file.id? previewImg1:previewImg2"
                                                                              title="Предпросмотр">
              </button>
            </div>
          </td>
          <td>
            <div class="edit-button">
              <!--              <button (click)="deleteFile(file.id, i)" [disabled]="edit"><img alt="Удалить"-->
              <!--                                                                              [src]=" edit===false? 'assets/icons/trash-2.svg': 'assets/icons/loader.svg' ">-->
              <!--              </button>-->
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="file-edit-preview" *ngIf="idFile !== null">
      <img [src]="previewImage()">
    </div>
  </div>
</div>
<div class="file-popup" *ngIf="close">
  <div class="file-popup-content">
    <div class="file-popup-header">
      <div>
        <p><strong>Загрузите файл</strong></p>
      </div>
      <div class="edit-button">
        <button (click)="closePopup()"><img src="assets/icons/x.svg"></button>
      </div>
    </div>
    <div class="file-popup-content-area">
      <div>
        <!--        <label>-->
        <!--          <input type="file" accept="image/*" multiple (change)=" selectFiles($event)"/>-->
        <!--        </label>-->
        <table class="file-popup-table">
          <thead>
          <tr>
            <th>Название файла</th>
            <th>Папка</th>
            <th>Прогресс</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let file of selectedFile; let i=index">
            <td>{{file.file.name}}</td>
            <td class="edit-input2">
              <select [(ngModel)]="file.destination">
                <option *ngFor="let destination of listDestination"
                        [ngValue]="destination">{{destination.nameDestination}}</option>
              </select>
            </td>
            <ng-template ngFor let-progressInfo [ngForOf]="progressInfos" let-iProgress="index">
              <td *ngIf="iProgress === i">
                <div
                  role="progressbar"
                  attr.aria-valuenow="{{ progressInfo.value }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: progressInfo.value + '%' }">
                  {{ progressInfo.value }}%
                </div>
              </td>
            </ng-template>
            <ng-template ngFor let-msg [ngForOf]="message" let-iMessage="index">
              <td *ngIf="message.length && iMessage === i" role="alert">
                {{ msg }}
              </td>
            </ng-template>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="file-popup-save">
      <button [disabled]="!selectedFile" (click)="uploadFiles()">Загрузить</button>
    </div>
  </div>
</div>
