<div class="user-panel">
  <table class="file-table" style="width: 300px;">
    <thead>
    <tr>
      <th>Филиал</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <select [ngModel]="selectedBranch?.id" (ngModelChange)="setBranch($event)">
          <option [value]="branch.id" *ngFor="let branch of listBranch; let i=index">{{branch.nameRu}}</option>
        </select>
      </td>
    </tr>
    </tbody>
    <div>
      <p>{{errormessage}}</p>
    </div>
  </table>

  <table class="file-table">
    <thead>
    <tr>
      <th>ФИО</th>
      <th>Логин</th>
      <th>Пароль</th>
      <th>Доступ</th>
      <th>
        <div class="edit-button">
          <button (click)="addUser()">
            <img alt="Редактирование" src="/assets/icons/plus-circle.svg">
          </button>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of listUser; let i=index">
      <td *ngIf="!user.isEdit">{{user.fio}}</td>
      <td *ngIf="user.isEdit">
        <input type="text" [(ngModel)]="user.fio">
      </td>
      <td *ngIf="!user.isEdit">{{user.login}}</td>
      <td *ngIf="user.isEdit">
        <input type="text" [(ngModel)]="user.login">
      </td>
      <td *ngIf="!user.isEdit">Скрыт</td>
      <td *ngIf="user.isEdit">
        <input *ngIf="user.id == null" type="text" [(ngModel)]="user.password">
      </td>
      <td *ngIf="!user.isEdit">{{[user.branchAccess ? 'Разрешен' : 'Запрещен']}}</td>
      <td *ngIf="user.isEdit">
        <input type="checkbox" [(ngModel)]="user.branchAccess">
      </td>
      <td>
        <div class="edit-button">
          <button (click)="edit=true">
            <img alt="Сменить пароль" src="assets/icons/key.svg">
          </button>
          <button (click)="changeEditStatus(user)" *ngIf="!user.isEdit">
            <img alt="Редактирование" src="assets/icons/edit-2.svg">
          </button>
          <button *ngIf="user.isEdit && user.id" (click)="updateUser(user, i)">
            <img src="assets/icons/save.svg" alt="Сохранить">
          </button>
          <button *ngIf="user.isEdit && user.id == null " (click)="createUser(user, i)">
            <img src="assets/icons/save.svg" alt="Сохранить">
          </button>
          <button (click)="deleteUser(user?.id, i)">
            <img alt="Удалить" src="assets/icons/trash-2.svg">
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="file-popup" *ngIf="edit==true">
    <div class="file-popup-content">
      <div class="file-popup-header">
        <div>
          <p><strong>Смена пароля</strong></p>
        </div>
        <div class="edit-button">
          <button (click)="edit=false"><img src="assets/icons/x.svg"></button>
        </div>
      </div>
      <div class="file-popup-content-area-login">
        <div class="edit-input">
          <form>
            <label for="login"><b>Логин:</b></label>
            <input placeholder="Логин" type="text" id="login">
          </form>
          <form>
            <label for="lastPass"><b>Старый пароль:</b></label>
            <input placeholder="Старый пароль" type="password" id="lastPass" minlength="4">
          </form>
          <form>
            <label for="newPass"><b>Новый пароль:</b></label>
            <input placeholder="Новый пароль" type="password" id="newPass" minlength="4">
          </form>
          <form>
            <label for="confirmPass"><b>Подтвердите новый пароль:</b></label>
            <input placeholder="Подтвердите пароль" type="password" id="confirmPass" minlength="4">
          </form>
          <div class="edit-button">
            <button (click)="edit=false">Подтвердить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
