<div>
  <p><b>Филиалы</b></p>
</div>
<div>
  <label>
    <input type="radio" [(ngModel)]="lang" value="ru">
    RU
  </label>
  <label>
    <input type="radio" [(ngModel)]="lang" value="eng">
    ENG
  </label>
  <label>
    <input type="radio" [(ngModel)]="lang" value="kz">
    KZ
  </label>
</div>
<table class="file-table">
  <thead>
  <tr>
    <th>Название Филиала</th>
    <th>Домен</th>
    <th>Город</th>
    <th>Отображать на сайте</th>
    <th>
      <div class="add-button">
        <button (click)="addNewBranch()">
          Добавить филиал
        </button>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let branch of listLibraryBranch; let i = index">
    <td *ngIf="lang == 'ru' && !branch.isEdit">{{branch.nameRu}}</td>
    <td *ngIf="lang == 'ru' && branch.isEdit">
      <input type="text" [(ngModel)]="branch.nameRu">
    </td>
    <td *ngIf="lang == 'eng' && !branch.isEdit">{{branch.nameEn}}</td>
    <td *ngIf="lang == 'eng' && branch.isEdit">
      <input type="text" [(ngModel)]="branch.nameEn">
    </td>
    <td *ngIf="lang == 'kz' && !branch.isEdit">{{branch.nameKz}}</td>
    <td *ngIf="lang == 'kz' && branch.isEdit">
      <input type="text" [(ngModel)]="branch.nameKz">
    </td>
    <td *ngIf="!branch.isEdit">{{branch.domen}}</td>
    <td *ngIf="branch.isEdit">
      <input type="text" [(ngModel)]="branch.domen">
    </td>
    <td *ngIf="lang == 'ru' && !branch.isEdit">{{branch.cityRu}}</td>
    <td *ngIf="lang == 'ru' && branch.isEdit">
      <input type="text" [(ngModel)]="branch.cityRu">
    </td>
    <td *ngIf="lang == 'eng' && !branch.isEdit">{{branch.cityEn}}</td>
    <td *ngIf="lang == 'eng' && branch.isEdit">
      <input type="text" [(ngModel)]="branch.cityEn">
    </td>
    <td *ngIf="lang == 'kz' && !branch.isEdit">{{branch.cityKz}}</td>
    <td *ngIf="lang == 'kz' && branch.isEdit">
      <input type="text" [(ngModel)]="branch.cityKz">
    </td>
    <td *ngIf=" !branch.isEdit">{{[branch.showOnPage ? 'Отображать' : 'Скрыть']}}</td>
    <td *ngIf="branch.isEdit">
      <input type="checkbox" [(ngModel)]="branch.showOnPage">
    </td>
    <td>
      <div class="edit-button">
        <button *ngIf="!branch.isEdit">
          <img src="assets/icons/edit-2.svg" alt="Редактировать" (click)="changeStatusEdit(branch)">
        </button>
        <button *ngIf="branch.isEdit" (click)="updateInfoBranch(i)">
          <img src="assets/icons/save.svg" alt="Сохранить">
        </button>
        <button (click)="deleteBranch(branch.id,i)">
          <img src="assets/icons/trash-2.svg" alt="Удалить">
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div class="user-languages">
  <h4>Отключение языков</h4>
  <div>
    <label>
      <input type="checkbox"  value="ru">
      RU
    </label>
    <label>
      <input type="checkbox"  value="kz">
      KZ
    </label>
    <label>
      <input type="checkbox"  value="eng">
      ENG
    </label>
  </div>
  <button style="margin-top: 15px;">Сохранить локализацию</button>
</div>
