<div class="admin-contacts">
  <div>
    <p><b>Редактирование контактов</b></p>
  </div>
  <div class="admin-contacts-edit">
    <div class="file-table">
      <table>
        <thead>
        <tr>
          <th></th>
          <th>Название</th>
          <th>Дата</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div class="edit-button">
              <button><img src="assets/admin-edit-menu-edit2.svg"></button>
            </div>
          </td>
          <td>Административный корпус</td>
          <td>23/23/3010</td>
        </tr>
        <tr>
          <td>
            <div class="edit-button">
              <button><img src="assets/admin-edit-menu-edit2.svg"></button>
            </div>
          </td>
          <td>Центр Патентно-Информационной работы</td>
          <td>23/23/3010</td>
        </tr>
        <tr>
          <td>
            <div class="edit-button">
              <button><img src="assets/admin-edit-menu-edit2.svg"></button>
            </div>
          </td>
          <td>Центр библиотечно-информационого обслуживания</td>
          <td>23/23/3010</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button (click)="log()">log</button>
      <button (click)="clearObject()">clear</button>
      <button (click)="createContactBranch()">create</button>
      <button (click)="updateContact()">update</button>
    </div>

    <div>
      <form>
        <label for="nameru"><b>Название:</b></label>
        <input type="text" [(ngModel)]="contactBranch.nameRu" id="nameru" name="nameru" placeholder="Название">
      </form>
      <form>
        <label for="address"><b>Адрес:</b></label>
        <input type="text" [(ngModel)]="contactBranch.address" id="address" name="address" placeholder="Адрес">
      </form>
      <form>
        <label for="email"><b>Email:</b></label>
        <input type="text" [(ngModel)]="contactBranch.email" id="email" name="email" placeholder="email">
      </form>
      <form>
        <label for="phone"><b>Телефон:</b></label>
        <input type="text" [(ngModel)]="contactBranch.phoneNumber" id="phone" name="phone" placeholder="телефон">
      </form>
      <form>
        <label for="map"><b>Карта:</b></label>
        <input type="text" [(ngModel)]="contactBranch.map" id="map" name="map" placeholder="Карта">
      </form>
    </div>

  </div>
  <br>
  <div>
    <iframe
      [src]="getMapSrc()"
      width="1300" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>


  <div class="file-table">
    <table>
      <thead>
      <tr>
        <th>Должность</th>
        <th>ФИО</th>
        <th>Телефон</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let iternalContact of contactBranch.iternalContact; let i = index">
        <td><input type="text" [(ngModel)]="iternalContact.postRu" name="postRu"></td>
        <td><input type="text" [(ngModel)]="iternalContact.fioRu" name="fioRu"></td>
        <td><input type="text" [(ngModel)]="iternalContact.phoneNumber" name="fioRu"></td>
        <td>
          <div class="edit-button">
            <button (click)="deleteIternalContact(i)"><img src="assets/trash.svg"></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <button (click)="addIternalContact()">Добавить</button>
  </div>

</div>
