.admin-book {
  //flex-wrap: wrap;
  .admin-book-table {
    //max-width: 650px;
  }
  .right-table{
    display: flex;
    flex-direction: row;
    .admin-book-edit-form {
      min-width: 700px;
      max-width: 700px;
    }
    .cover{
      display: flex;
      flex-direction: column;
      align-items: center;

      padding-left: 35px;
      padding-right: 15px;
    }
  }

  .ck-editor__editable {
    min-height: 210px !important;
    margin-bottom: 5px;
  }
}
