.admin-panel-global {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 16% 84%;


  .admin-panel-left {
    background-color: #7d4247;
    display: grid;
    grid-template-rows: 10% 90%;

    .admin-panel-left-logo {
      padding-top: 2vh;
      //border: 1px solid red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      span {
        align-self: center;
        color: #FFFFFF;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        margin-top: 1vh;
        padding: 0;
        flex: 1 0 auto;
      }

      .admin-panel-left-logo-hr {
        align-self: center;
        flex: 0 0 auto;
        background-color: #FFFFFF;
        width: 80%;
        height: 2px;
      }
    }

    //hr {
    //  border: none; /* Убираем границу */
    //  background-color: #FFFFFF; /* Цвет линии */
    //  color: #FFFFFF; /* Цвет линии для IE6-7 */
    //  height: 2px; /* Толщина линии */
    //}

    .admin-panel-left-menu {
      width: 100%;
      display: grid;
      grid-template-rows: repeat(6, 7vh);
      grid-row-gap: 3vh;
      text-align: center;

      button {
        border-radius: 36px;
        background-color: #7d4247;
        color: #FFFFFF;
        padding: 8px;
        text-align: center;
        border: 2px solid #ffffff;
        font-family: Monsterrat;
        display: inline-block;
        font-size: 15px;
        margin: 5vh 2px;
        cursor: pointer;
        width: 50%;
        transition-duration: 0.2s;

        a {
          color: @white;
          text-decoration: none;
        }

        a:hover {
          transition-duration: 0.2s;
          color: #2b1c1c;
        }
      }

      button:hover {
        background-color: #A0575D;
      }

      .admin-panel-left-menu-return-link {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        span {
          margin-bottom: 25px;
          font-size: 14px;
          color: @white;
          text-decoration: none;
        }
      }

    }
  }

  .admin-panel-center {
    background-color: #f8f8f8;
    width: 100%;
    display: grid;
    grid-template-rows: 6% 94%;

    .admin-panel-center-top {
      background-color: #DADADA;
      display: flex;
      justify-content: flex-end;

      .cabinet-profile {
        //border: 1px solid red;
        display: flex;
        align-items: center;

        button, input[type="submit"], input[type="reset"] {
          background: none;
          color: inherit;
          border: none;
          padding: 0;
          font: inherit;
          cursor: pointer;
          outline: inherit;
        }

        div, img {
          max-width: 100%;
          object-fit: contain;
          margin-right: 6px;
        }
      }

    }

    .admin-panel-center-content {
      background-color: #eeeeee;
    }
  }

}
