@import "color";

.file-edit {

  .file-edit-space {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

    //Здесь раньше были стили таблицы, теперь они перенесены в styles.less

    .file-edit-preview {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

}
