@import "color";
@import "styles";
@import "contacts";

.article{
  .article-img{
    width: 350px;
    height: 100%;
  }
  .article-span{
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #13547C;

  }
  .article-div{
    display: flex;
    align-items: flex-start;
    .article-p{
      font-size: 20px;
      line-height: 24px;
      margin: 0px;
    }
  }
  .article-hr{
    margin-top: 40px;
    width: 348px;
    border: 1px solid #13547C;
  }
}
