@backgroundBody: aqua ;
//colors-цвета
@whitemilk: rgb(248, 248, 248);// молочный F8F8F8
@white: rgb(255, 255, 255); //белый FFFFFF
@burgundy: rgb(125, 66, 71); //бордовый 7D4247
@black: rgb(0, 0, 0); //черный 000000
@grey: rgb(242, 242, 242); //серый F2F2F2
