@import "color";
@import "styles";
@import "article";

.contact {
  width: 100%;
  height: auto;
  display: flex;



  .contact-map-box {
    height: 500px;
    margin-bottom: 20px;

    .contact-map {
      width: 1084px !important;
      height: 500px !important;
      border:0;
      position: relative;
      z-index: 1;

      display: flex;
      justify-content: center;

      margin: auto auto 20px;
    }

    .contact-box {
      position: relative;
      z-index: 2;
      top: -400px;

      width: 400px;
      height: 300px;

      display: flex;
      flex-direction: column;
      margin-left: 50px;
      background-color: rgba(198, 198, 198, 0.8);

      .contact-box-title {
        margin-top: 74px;
        margin-right: 37px;
        margin-left: 37px;

        font-style: normal;
        font-family: Montserrat-bold, serif;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
      }

      .contact-box-context {
        font-size: 16px;
        line-height: 22px;
        font-style: normal;
        font-weight: normal;

        margin-right: 90px;
        margin-left: 37px;
        margin-bottom: 74px;
        padding-top: 20px;
        .contact-box-e-mail{
          margin-top: 15px;
        }
      }

    }
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-table {
      width: 100%;

      .tr-main {
        font-size: 18px;
        line-height: 30px;
        color: #F86C22;
      }

      .tr-text {
        font-size: 16px;
        line-height: 24px;

      }

      tr:nth-child(even) {
        background-color: #EBEBEB;
      }

      th {
        font-family: Montserrat-bold;
      }

      .first-th {
        text-align: start;
        width: 17.71vw;
        padding: 0px;
      }

      .second-th {
        text-align: center;
        padding: 0px;
      }

      .third-th {
        text-align: end;
        width: 17.71vw;
        padding: 0px;
      }
    }

    .strip {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 4px;
      width:458px;


      .strip-svg {
        background: url("assets/images/strip.svg") no-repeat center;
        width: 60px;
        height: 30px;
      }

      .strip-hr-svg {
        background: url("assets/images/strip-hr-svg.svg") no-repeat center;
        width: 100px;
        height: 1px;
        margin-bottom: 5px;
      }
    }

    .hr-last-child {
      margin-top: 40px;
      margin-bottom: 100px;
      width: 250px;
      border: 1px solid #014B7A;
    }
  }
}






