::-webkit-scrollbar {
  width: 0;
}

.gallery {
  .gallery-title {
    display: flex;
    flex-direction: column;

    .big-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title-hr {
        width: 330px;
        height: 0px;
        border: 1px solid #393185;
        margin: 0px 0px 0px 5px;
      }

      .b-title {
        font-family: Montserrat-bold, serif;
        font-size: 25px;
        color: #F86C22;
      }
    }

    .small-title {
      width: auto;
      margin: 20px auto 40px;

      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      color: @darkBlue;
    }
  }

  .gallery-carousel {
    scroll-behavior: smooth;
    display: inline-block;
    justify-content: center;
    overflow-y: hidden;
    width: 100%;
    height: 300px;
    margin: auto;
    white-space: nowrap;


    .carousel-block {
      display: inline-block;
      width: 195px;
      height: 300px;
      background-color: @grey;
      margin-left: 27px;
    }

    .carousel-block-first {
      display: inline-block;
      width: 195px;
      height: 300px;
      background-color: @grey;

    }
    .img-carousel{
      width: 195px;
      height: 300px;
    }
  }

  .carousel-circle {
    position: relative;
    z-index: 2;
    top: -21px;

    display: flex;
    justify-content: center;
    width: 100%;

    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;

    .carousel-button-left {
      width: 20px;
      height: 20px;
      border-radius: 100px;
      background: #C4C4C4;
      border-style: none;

      transition-duration: 2s;
      cursor: pointer;
    }
    .carousel-button-right{
      margin-left: 7px;
      width: 20px;
      height: 20px;
      border-radius: 100px;
      background: #C4C4C4;
      border-style: none;

      transition-duration: 2s;
      cursor: pointer;
    }

    .carousel-button-left:hover {
      background: url("./assets/images/arrow-left.svg")center no-repeat;
      //background-color: #585858;
    }
    .carousel-button-right:hover {
      background: url("./assets/images/arrow-right.svg")center no-repeat;
      //background-color: #585858;
    }
  }

  .carousel-hr {
    width: 250px;
    height: 0px;
    border: 1px solid @darkBlue;
  }

  margin-top: 50px;
}
