@import "color";


.map-title {
  margin-left: 13px;
  padding-top: 100px;

  .title-span {
    font-size: 30px;
    line-height: 37px;
  }

  .title-bands-first {
    width: 13.03vw;
    border: 1px solid #7D4247;
    margin-left: 0px;
    margin-top: 5px;
  }

  .title-bands-second {
    width: 7.82vw;
    border: 1px solid #7D4247;
    margin-left: 0px;
    margin-top: 20px;
  }
}
.map{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 40px;

  .map-svg {
    width: 100% !important;
    height: 737px;
  }

  .map-svg-bands {
    width: 13.03vw;
    border: 1px solid #7D4247;
    margin-top: 40px;
    margin-bottom: 0px;
  }
}

