@import "color";
@import "menu";
@import "styles";
@import "footer";


//Menu
@media (min-width: 0px) and (max-width: 1716px) {
  .app-menu {
    .container-menu {
      .logo-navbar {
        .logo {
          margin-left: 0px;
        }
      }
    }
  }
}

@media (min-width: 1556px) and (max-width: 1631px) {
  .app-menu {
    .container-menu {
      .logo-navbar {
        .navbar {
          //.navbar-ul {
          //  padding-left: 10px;
          //  padding-right: 5px;
          //
          //  .navbar-li {
          //    padding-right: 5px;
          //  }
          //}

          .languages {
            padding-right: 10px;
            padding-left: 5px;
          }

          //.search {
          //  width: 120px;
          //
          //  .search-input {
          //    input {
          //      width: 75px;
          //    }
          //  }
          //}
        }
      }
    }
  }
}
@media (min-width: 0px) and (max-width: 1555px) {
  .app-menu {
    .container-menu {
      .logo-navbar {
        .navbar {
          .navbar-ul {
            padding-left: 20px;
            padding-right: 20px;

            .navbar-li {
              padding-right: 15px;
            }
          }

          .languages {
            padding-right: 20px;
            padding-left: 20px;
          }

          //.search {
          //  width: 120px;
          //
          //  .search-input {
          //    input {
          //      width: 75px;
          //    }
          //  }
          //}
        }
      }
    }
  }
  @media (min-width: 0px) and (max-width: 1476px) {
    .app-menu {
      .container-menu {
        .logo-navbar {
          .navbar {
            .navbar-ul {
              padding-left: 5px;
              padding-right: 5px;

              .navbar-li {
                padding-right: 5px;
              }
            }

            .languages {
              padding-right: 10px;
              padding-left: 10px;
            }

            .search {
              width: 120px;

              .search-input {
                input {
                  width: 75px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 1400px) {
  .app-menu {
    .container-menu {
      .logo-navbar {
        .navbar-media {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (min-width: 1400px) and (max-width: 1831px) {
  .app-menu {
    .container-menu {
      .logo-navbar {
        .navbar-media {
          margin-right: 10px;
        }
      }
    }
  }
}

//@media (min-width: 0px) and (max-width: 1345px) {
//  .app-menu {
//    .container-menu {
//      .logo-navbar {
//        .logo{
//          width: 511.8px;
//          height: 294.14px;
//        }
//      }
//    }
//  }
//}
