@import "color";

.app-menu{
    background: url("/assets/images/MenuBackground.png");
    width: 1920px;
    height: 720px;

  .navbar{

    height: 120px;
    background: @burgundy;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.28);
    border-radius: 10px;
  }
  .logo-title{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 150px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.45));

    .logo{
      background: url("/assets/images/RNTBlogo.svg");
      width: 147.83px;
      height: 250px;
      margin-right: 100px;
    }
    .title{
      width: 793px;
      height: 255px;
      font-style: normal;
      font-weight: bold;
      font-size: 70px;
      line-height: 85px;
      text-align: center;
      color: @whitemilk;
    }
  }
}
