@import "color";

.app-menu{
    background: url("/assets/images/MenuBackground.png");
    width: 1920px;
    height: 720px;

  .navbar{

    height: 120px;
    background: @burgundy;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.28);
    border-radius: 10px;
  }
}
