/* You can add global styles to this file, and also import other style files */
@import "color";

@font-face {
  font-family: "Monsterrat";
  src: url("assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 1300px;
  height: 100%;
  font-family: Monsterrat, serif;
  background: @whitemilk;
  scroll-behavior: smooth;

  //контейнер 1300px
  .container {
    //border: 1px solid red;
    //width: 67.71vw;
    width: 1084px;
    margin: auto;
    min-width: 1084px;
  }
  .title {
    padding-top: 40px;
    display: block;
    padding-bottom: 50px;

    .title-span {
      font-size: 20px;
      line-height: 30.48px;
      color: @carrot;
    }

    .title-hr-first {
      width: 13.03vw;
      border: 1px solid @darkBlue;
      margin-left: 0px;
      margin-top: 5px;
    }

    .title-hr-second {
      width: 7.82vw;
      border: 1px solid @darkBlue;
      margin-left: 0px;
      margin-top: 20px;
    }
  }

  .container-menu {
    display: block;
    margin: auto;
    max-width: 1920px;
    min-width: 1300px;
  }

  app-root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    @import "admin-panel";
    @import "menu";
    @import "footer";
    @import "contacts";
    @import "admin-edit-menu";
    @import "map";
    @import "gallery";
    @import "edit-article";
    @import "admin-file-edit";
    @import "admin-contacts";
    @import "admin-gallery";
    @import "login";
    @import "media";
    @import "admin-user-panel";
    @import "admin-book";
    @import "article";
    @import "pages";
    @import "ckeditor";
  }

  .edit-button {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      margin-right: 13px;
    }

    button, input[type="submit"], input[type="reset"] {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }
  }

  .add-button {
    button {
      background-color: #014B7A; /* Green */
      border: none;
      border-radius: 3px;
      color: white;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      cursor: pointer;
    }

  }

  .file-table {
    table-layout: fixed;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    padding-top: 5px;

    .book-description{
      width: 500px;
      height: 486px;
    }
    thead th {
      font-weight: bold;
      text-align: left;
      border: none;
      padding: 9px 15px;
      background: #d8d8d8;
      font-size: 12px;
    }

    thead tr th:first-child {
      border-radius: 8px 0 0 8px;
    }

    thead tr th:last-child {
      border-radius: 0 8px 8px 0;
    }

    tbody td {
      text-align: left;
      border: none;
      padding: 5px 15px;
      font-size: 14px;
      vertical-align: top;
      word-wrap: break-word;
    }

    tbody tr:nth-child(even) {
      background: #e5e5e5;
    }

    tbody tr td:first-child {
      border-radius: 8px 0 0 8px;
    }

    tbody tr td:last-child {
      border-radius: 0 8px 8px 0;
    }

    ul {
      list-style: none;
      padding: 0;
    }
  }

  .edit-input {
    input[type=text], input[type=password], select {
      //width: 100%;
      //height: 100%;
      //padding: 3.5px 0px;
      //margin: 0px 0;
      //display: flex;
      //flex-direction: column;
      //border: 1px solid #ccc;
      //border-radius: 4px;
      //box-sizing: border-box;

      width: 100%;
      padding: 8px 10px;
      margin: 8px 0;
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

  }

  .edit-input2 {
    input[type=text], input[type=password], select {
      //width: 100%;
      //height: 100%;
      //padding: 3.5px 0px;
      //margin: 0px 0;
      //display: flex;
      //flex-direction: column;
      //border: 1px solid #ccc;
      //border-radius: 4px;
      //box-sizing: border-box;

      width: 100%;
      padding: 3.5px 0px;
      margin: 0px 0px;
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    textarea {
      width: 100%;
      min-height: 200px;
      padding: 3.5px 0px;
      margin: 8px 0;
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      border-radius: 4px;
      overflow: scroll;
      resize: vertical;
    }

  }


.select-language {
  padding: 10px 0px 10px 0px;
}

//Нужно потом перенести эти(снизу) стили в глобальный файл!!!!!
.gallery-popup {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  z-index: 3;

  .div-close{
    position: absolute;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    top: 0;
    left: 0;
    z-index: -1;
  }
  .popup-close-button {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    //width: 100%;
    //margin-top: -0.7vh;
    //
    //td {
    //  float: right;
    //}
  }

  .popup-content {
    padding: 30px 20px;
    margin: auto;
    width: 100%;
    max-width: 800px;
    border-radius: 6px;
    background: #efefef;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    z-index: 333;

    .popup-img {
      flex: 1 1 270px;
      width: 30%;

      img {
        width: 100%;
        height: auto;
        max-width: 400px;
        max-height: 505px;
        overflow: auto;
      }
    }

    .popup-text {
      font-size: 0.875rem;
      flex: 1 1 333.3px;
      width: 70%;
      max-height: 505px;
      overflow: scroll;
      padding-left: 20px;
    }
  }

  .popup-bottom {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }


  .popup-content, .popup-bottom {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0)
    }
    to {
      -webkit-transform: scale(1)
    }
  }

  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }

  @media only screen and (max-width: 700px) {
    .popup-content {
      width: 100%;
    }
  }

}


.proverkaa:after ~ .popup-content {
  transition: width 2s, height 4s;
}
}
