<div class="admin-panel-global">
  <div class="admin-panel-left">

    <div class="admin-panel-left-logo">
      <span routerLink="/login">РНТБ</span>
      <div class="admin-panel-left-logo-hr"></div>
    </div>


    <div class="admin-panel-left-menu">
      <div>
        <ul class="left-menu-ul">
          <li routerLink="./admin-edit-menu"><a>Меню</a></li>
          <li class="li-arrow" routerLink="./admin-gallery"><a>Выставка</a></li>
          <li class="li-arrow" routerLink="./admin-book"><a>Книги</a></li>
          <li routerLink="./admin-news"><a>Новости</a></li>
          <li routerLink="./admin-contacts"><a>Контакты</a></li>
          <li><a>Филиалы</a></li>
          <li routerLink="./edit-article"><a>Статьи</a></li>
          <li routerLink="./admin-file-edit"><a>Файлы</a></li>
          <li routerLink="./admin-user-panel"><a>Пользователи</a></li>
        </ul>
      </div>
      <div class="admin-panel-left-menu-return-link">
        <span routerLink="/">Вернуться на сайт</span>
      </div>
    </div>
  </div>
  <div class="admin-panel-center">
    <div class="admin-panel-center-top">
      <div></div>
      <div class="cabinet-profile">
        <ul>
          <li>
            <img src="assets/admin-panel-cabinet.svg">
          </li>
          <li>
            <img src="assets/admin-panel-cabinet-knopka.svg">
            <div class="navbar-li-dropdown">
              <a class="dropdown-a" routerLink="admin-user-panel">Редактировать</a>
              <a class="dropdown-a">Выйти</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="admin-panel-center-content">
      <div class="admin-edit-menu-block">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
