<div class="admin-panel-global">
  <div class="admin-panel-left">

    <div class="admin-panel-left-logo">
      <span>РНТБ</span>
      <div class="admin-panel-left-logo-hr"></div>
    </div>


    <div class="admin-panel-left-menu">
      <div><button><a>Меню</a></button></div>
      <div><button><a>Выставка</a></button></div>
      <div><button><a>Новости</a></button></div>
      <div><button><a>Контакты</a></button></div>
      <div><button><a>Филиалы</a></button></div>
      <div><button><a>Статьи</a></button></div>
    </div>
  </div>
  <div class="admin-panel-center">
    <div class="admin-panel-center-top">
      <div></div>
      <div class="cabinet-profile">
        <div>
          <img src="assets/admin-panel-cabinet.svg">
        </div>
        <div>
          <img src="assets/admin-panel-cabinet-knopka.svg">
        </div>
      </div>
    </div>
    <div>dada</div>
  </div>
</div>
