<div class="container">
  <div class="title">
    <span class="title-span">{{namePage}}</span>
    <hr class="title-hr-first">
    <hr class="title-hr-second">
  </div>

  <div class="article">
    <span class="article-span">{{article?.topic}}</span>
    <div class="article-div" *ngIf="article && article.idCoverArticle">
      <img [src]="previewCover(article.idCoverArticle)" alt="Обложка" class="article-img">
    </div>
    <!--      <div class="article-p" *ngIf="article && article.title" [InsertHtml]="article.title"></div>-->
    <div class="article-p">
      <div class="ck-content" *ngIf="article && article.mainText" [InsertHtml]="article.mainText"></div>
    </div>
  </div>
</div>
