<div class="pages">
  <h4>Настройка страниц</h4>
  <div style="display: flex;">
    <table class="file-table">
      <thead>
      <tr>
        <th>Статья</th>
        <th>Добавить</th>
      </tr>
      </thead>
      <tbody>
      <tr></tr>
      <tr></tr>
      </tbody>
    </table>
    <table class="file-table">
      <thead>
      <tr>
        <th>Виртуальная выставка</th>
        <th>Добавить</th>
      </tr>
      </thead>
      <tbody>
      <tr></tr>
      <tr></tr>
      </tbody>
    </table>
    <table class="file-table">
      <thead>
      <tr>
        <th>контакты</th>
        <th>Добавить</th>
      </tr>
      </thead>
      <tbody>
      <tr></tr>
      <tr></tr>
      </tbody>
    </table>
  </div>
  <hr>
  <app-gallery></app-gallery>
  <app-contacts></app-contacts>
  <app-article></app-article>
</div>
