<div class="pages">
  <h4>Настройка страниц</h4>
  <div>
    <label>
      <input type="radio" [(ngModel)]="lang" value="ru">
      RU
    </label>
    <label>
      <input type="radio" [(ngModel)]="lang" value="eng">
      ENG
    </label>
    <label>
      <input type="radio" [(ngModel)]="lang" value="kz">
      KZ
    </label>
  </div>
  <div style="display: flex;">
    <table class="file-table">
      <thead>
      <tr>
        <th>Страница</th>
        <th>
          <button (click)="createPage()">Создать</button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let page of listPage; let i=index">
        <td>{{page.name}}</td>
        <td>
          <button (click)="selectPage(i)">Выбрать</button>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="file-table">
      <thead>
      <tr>
        <th>Виртуальная выставка</th>
        <th>Добавить</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of listCategoryVirtualExhibition; let i = index">
        <td *ngIf="lang === 'ru' && !category.isEdit">{{category.nameRu}}</td>
        <td *ngIf="lang === 'ru' && category.isEdit"><input type="text" [(ngModel)]="category.nameRu"
                                                            placeholder="nameRu"></td>
        <td *ngIf="lang === 'eng' && !category.isEdit">{{category.nameEn}}</td>
        <td *ngIf="lang === 'eng' && category.isEdit"><input type="text" [(ngModel)]="category.nameEn"
                                                             placeholder="nameEn"></td>
        <td *ngIf="lang === 'kz' && !category.isEdit">{{category.nameKz}}</td>
        <td *ngIf="lang === 'kz' && category.isEdit"><input type="text" [(ngModel)]="category.nameKz"
                                                            placeholder="nameKz"></td>
        <td style="display: flex; justify-content: center;">
          <button (click)="addCompoennentOnPage(category)"><img src="/assets/plus.svg" alt="Добавить"></button>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="file-table">
      <thead>
      <tr>
        <th>контакты</th>
        <th>Добавить</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contactBranch of listViewContactBranch; let i = index">
        <td>{{contactBranch.name}}</td>
        <td style="display: flex; justify-content: center;">
          <button (click)="addCompoennentOnPage(contactBranch)"><img src="/assets/plus.svg" alt="Добавить"></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <button (click)="savePage()">Сохранить</button>
  <hr>
  <div *ngIf="selectedPage && selectedPage.component.length">
    <ng-template ngFor let-component [ngForOf]="selectedPage!.component">
      <app-gallery *ngIf="component.typeComponent"></app-gallery>
      <app-contacts *ngIf="!component.typeComponent"></app-contacts>
      <!--      <app-article></app-article>-->
    </ng-template>
  </div>
</div>
